<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Face Mask Detection</title>
    <meta charset="utf-8">
  </head>
  
              <h2>Face Mask Detection</h2>
   
             <div  style="color: black">

<form action="/predict" method="POST" enctype="multipart/form-data" id="myform">

  
    <input type="file" accept="image/png image/jpg image/jpeg" name="ima" id="qw" />
   
<input type="submit" class="btn btn-success" name="submit" value="predict"/>

      </form>          
      <div><img src=""></div>     <strong ><h1 id="result">{{predict}}</h1></strong>
                         </div>


</html>
